/*  Product Details  */
.section--productDetails {
  margin-top: 5rem;
}

.section--productDetails img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details__left {
  width: 60vw;
}

.product-details__right {
  width: 35vw;
}

.product__image img {
  display: block;
  margin: auto;
  max-height: 39rem;
  max-width: 100%;
}

.product-detail__container {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.details__container--left {
  display: flex;
  align-items: flex-start;
}

.images-container__thumbnails {
  border-right-color: transparent;
  cursor: pointer;
  width: 7rem;
  height: 7rem;
  transition: 0.3s;
}

.selected {
  border: 1px solid #cecdcd;
}

.product__image {
  width: 100%;
}

.details__container--right span {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.details__container--right h1 {
  line-height: 1.2;
  margin-bottom: 2rem;
}

.quantity {
  display: block !important;
  margin-bottom: 1rem;
}

.quantity__input {
  height: 4rem;
  width: 2.5rem;
}

.quantity input {
  padding-left: 5px;
}

.color-available--colors {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #828282 !important;
  margin-right: 5px;
}

.color-available span {
  margin: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  top: 6px;
  left: 6px;
}

.quantity__plus, .quantity__minus {
  padding: 1rem;
}

.quantity__input, .quantity__plus, .quantity__minus {
  border: 1px solid #cecdcd;
}

.details__container--right .price, .total-price {
  font-weight: 600;
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
  display: block;
}

.details__container--right div {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.details__container--right select {
  font-family: "Popping", sans-serif;
  width: 20rem;
  padding: 0.7rem;
  border: 1px solid var(--grey1);
  appearance: none;
  outline: none;
}

.section--productDetails form {
  margin-bottom: 2rem;
}

.section--productDetails form span {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 2rem;
  z-index: 0;
}

.section--productDetails .form {
  margin-bottom: 3rem;
}

.section--productDetails .form input {
  padding: 0.8rem;
  text-align: center;
  width: 3.5rem;
  margin-right: 2rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.addCart, .buyNow{
  background-color: var(--primary);
  padding: 0.8rem 4rem;
  color: var(--white);
  border-radius: 3rem;
  border: none;
  margin: 10px;
  display: inline-block;
}

.section--productDetails h3 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 996px) {
  .section--productDetails .product-detail__container {
    gap: 1rem;
  }
}

@media only screen and (max-width: 950px) {
  .product-details__left {
    width: 100%;
  }

  .product-details__right {
    width: 100%;
    text-align: center;
  }

  .product-detail__container {
    grid-template-columns: 1fr;
    row-gap: 5rem;
  }

  .color-available span {
    left: 0;
  }
}

@media only screen and (max-width: 650px) {
  .section--productDetails .product-detail__container {
    grid-template-columns: 1fr;
  }

  .section--productDetails .details__container--left {
    width: 100%;
  }

  .section--productDetails .product-detail__container {
    gap: 1rem;
  }

  .section--productDetails .thumbnail {
    width: 6rem;
    height: 6rem;
  }
}


/*Mine*/
.section--productDetails .rating {
  margin-bottom: 1rem;
}

.rating p {
  display: contents;
}

.product-review {
  margin-top: 2rem;
}

.preview-create {
  display: grid;
  grid-template-columns: 0.4fr
}

@media only screen  and (max-width: 768px) {
  .preview-create {
    grid-template-columns: 1fr
  }
}

.product-review .preview-list {
  margin: 0.5rem 0 1rem 2.5rem;
}

.product-review .preview-create {
  margin-top: 3rem;
}
