/*  Product Details  */
.product-details {
  margin-top: 5rem;
}

.product-details .details {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 7rem;
}

.product-details .left {
  display: flex;
  flex-direction: column;
}

.product-details .left .main {
  text-align: center;
  background-color: #f6f2f1;
  margin-bottom: 2rem;
  /*height: 45rem;*/
  /*padding: 3rem;*/
}

.product-details .left .main img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.product-details .thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
}

.product-details .thumbnail {
  height: 10rem;
  background-color: #f6f2f1;
  text-align: center;
}

.product-details .thumbnail img {
  height: 100%;
  object-fit: contain;
}

.product-details .right span {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.product-details .right h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.product-details .right .price {
  font-weight: 600;
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
  display: block;
}

.product-details .right div {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.product-details .right select {
  font-family: "Popping", sans-serif;
  width: 20rem;
  padding: 0.7rem;
  border: 1px solid var(--grey1);
  appearance: none;
  outline: none;
}

.product-details form {
  margin-bottom: 2rem;
}

.product-details form span {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 2rem;
  z-index: 0;
}

.product-details .form {
  margin-bottom: 3rem;
}

.product-details .form input {
  padding: 0.8rem;
  text-align: center;
  width: 3.5rem;
  margin-right: 2rem;
}

.product-details .addCart {
  background-color: var(--primary);
  padding: 0.8rem 4rem;
  color: var(--white);
  border-radius: 3rem;
  border: none;
  margin-bottom: 1rem;
}

.product-details h3 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 996px) {
  .product-details .left {
    /*height: 45rem;*/
  }

  .product-details .details {
    gap: 3rem;
  }

  .product-details .thumbnails {
    gap: 0.5rem;
  }
}

@media only screen and (max-width: 650px) {
  .product-details .details {
    grid-template-columns: 1fr;
  }

  .product-details .right {
    /*margin-top: 10rem;*/
  }

  .product-details .left {
    width: 100%;
    /*height: 45rem;*/
  }

  .product-details .details {
    gap: 3rem;
  }

  .product-details .thumbnail {
    width: 6rem;
    height: 6rem;
  }
}


/*Mine*/
.product-details .rating {
  margin-bottom: 1rem;
}

.rating p {
  display: contents;
}

.product-review {
  margin-top: 2rem;
}

.preview-create {
  display: grid;
  grid-template-columns: 0.4fr
}

@media only screen  and (max-width: 768px) {
  .preview-create {
    grid-template-columns: 1fr
  }
}

.product-review .preview-list {
  margin: 0.5rem 0 1rem 2.5rem;
}

.product-review .preview-create {
  margin-top: 3rem;
}
